<div class="row mt-5 mr-5 justify-content-between">
    <div class="card col-lg-3 col-md-4">
        <img class="card-img-top" height="250" src="https://www.aks.ua/img/layout/logo.png" alt="Card image cap">
        <div class="card-body">
            <h5>Интернет-магазин</h5>
            <a href="~/GetProduct/AKS/1" class="btn btn-outline-primary">Посмотреть товары</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-4">
        <img class="card-img-top" height="250" src="https://fashionup.ua/templates/Default/images/logo.png" alt="Card image cap">
        <div class="card-body">
            <h5>Интернет-магазин</h5>
            <a href="~/GetProduct/Fashionup/1" class="btn btn-outline-primary">Посмотреть товары</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-4">
        <img class="card-img-top" height="250" src="https://victoriagardens.com.ua/sites/default/files/tenant/moyo/logo-moyo.png" alt="Card image cap">
        <div class="card-body">
            <h5>Интернет-магазин</h5>
            <a href="" class="btn btn-outline-primary">Посмотреть товары</a>
        </div>
    </div>
</div>

